/*body {
    background-color: lightblue;
}*/
body {
    background-image: url("/images/bg1.jpg");
    http://etc.usf.edu/presentations/backgrounds/grid/grid_03/1228m.gif
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;;
}

.navbar {
  font-size: 20px;
}

#login-options{
  text-decoration: none;
  color: red;
}

div,ol, .panel, input, table, .list-group-item{
  background-color: transparent;
}
.game-table {
  color: black;
}
a:hover, td:hover {
    cursor: pointer;
    cursor: hand;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.navbar-inverse, .navbar-default {
  background-color: rgba(0, 0, 0, 0.40);
}
