.game-table {
  border: 2px solid black;
  font-size: 25px;
  margin: auto;
}

.column-success td{
  background-color: red;
  color: red;
}

.game-table td {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  line-height: 50px;
  text-align: center;
  background-color: #f2f2f2;
}
.chat-window {
  background-color: rgba(0, 0, 0, 0.50);
}
#chat-window {
  max-height: 500px;
}
